/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
nav {
   background-color: #b3d0ea;
  
   height: 100px;
}
header {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 50px;
   width: fit-content;
  
   
}

#DKmakelaars {
   padding-top: 30px;
   padding-bottom: 15px;
}
article {
   font-family: 'Times New Roman', Times, serif;
   font-size: 33px;
   width: 200px;
   
   float: left;
   padding-right: 400px;
}
#bovenafbeelding, #afbeelding, #onderafbeelding {
   text-align: right;
   float: right;
}
#bovenafbeelding {
   width: 400px;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 38px;
}
#afbeelding {
   width: 392px;
   border: solid;
   border-width: 4px;
   border-color: #e59902;
   padding: 0px;
 
   
}
#onderafbeelding {
   width: 400px;
}


#wrapper {
background-color: #70BCEB;
   width: 1000px;
 height: 2000px;
   margin: auto;
 
 }
 
 #pijl {
   margin-top: 400px;
   margin-right: 200px;
   margin-left: 600px;
   border: solid;
   text-align: right;
  width: fit-content;
  
 }

 #logoafbeelding {
   text-align: left;
   padding: 10px;
   width: 240px;
   float: left;
 }

 .navlink {
   float: left;
   width: 240px;
   padding-top: 40px;
   
 }

 #navlinkrn {
   float: left;
   width: 240px;
   padding-top: 40px;
   color: purple;
   cursor: not-allowed;
 }
 #navlinkrn:hover {
   
 }
 a {
   color: green;
 }
 