/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
nav {
   background-color: #b3d0ea;
  
   height: 100px;
}
header {
   font-family: sans-serif;
   font-weight: bold;
   
   width: fit-content;
  
   
}

footer {
  width: 1000px;
  margin-top: 50px;
  margin: auto;
}

#subpart {
   border-top: solid;
   border-bottom: solid;
   margin: auto;
   margin-top: 30px;
   margin-bottom: 30px;
   font-size: 50px;
   
}

#DKmakelaars {
   padding-top: 30px;
   padding-bottom: 15px;
   font-size: 50px;
}

.adres, .adres2 {
   font-size: 30px;
   width: fit-content;
   border: solid;
   margin-top: 100px;
}
.adres {
   float: left;
   
}
.adres2 {
   float: right;
   margin-left: 50px;
}

article {
   font-family: 'Times New Roman', Times, serif;
   
   width: 200px;
   
   
}

.article1 {
   float: left;
   padding-right: 200px;
   width: 400px;
   font-size: 33px;
   text-align: justify;
}

#articlemain {
   float: left;
   font-size: 25px;
   width: 320px;
   margin-right: 80px;
   text-align: justify;
}

.article2 {
   float: right;
   margin-left: 90px;
   width: 410px;
   font-size: 33px;
   text-align: justify;
}
#bovenafbeelding, #afbeelding, #onderafbeelding {
   text-align: right;
   float: right;
}
.afbeelding {
   float: right;
   margin-top: 100px;
}

.afbeelding2 {
   float: left;
   text-align: left;
   margin-top: 100px;
}

#bovenafbeelding {
   width: 400px;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 38px;
}
.afbeelding, .afbeelding2, #afbeelding {
   
   border: solid;
   border-width: 4px;
   border-color: #e59902;
   padding: 0px;
 
   
}

#onderafbeelding {
   width: 400px;
}




.wrapper1 {
background-color: #70BCEB;
   width: 1000px;
 height: 800px;
   margin: auto;
 
 }
 .wrapper2 {
   background-color: #b3d0ea;
      width: 1000px;
    height: 600px;
      margin: auto;
    
    }
 
 #pijl {
   margin-top: 400px;
   margin-right: 200px;
   margin-left: 600px;
   border: solid;
   text-align: right;
  width: fit-content;
  
 }

 #logoafbeelding {
   text-align: left;
   padding: 10px;
   width: 240px;
   float: left;
 }

 .navlink {
   float: left;
   width: 240px;
   padding-top: 40px;
   
 }

 #navlinkrn {
   float: left;
   width: 240px;
   padding-top: 40px;
   color: purple;
   cursor: not-allowed;
 }

 a {
   color: green;
 }
 ul {
 width: fit-content;
  font-size: 38px;
  margin-top: 50px;
  font-weight: bold;
  
 }
 .contactlijst {
   float: left;
   margin-left: 50px;
 }
 .contactlijst2 {
   float: right;
   margin-right: 150px;
 }
 li {
   font-size: 22px;
   font-weight: normal;
 }